<div class="row header">
  <div class="col-md-4 col-12 col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto horizontal-li">
          <li class="nav-item">
            <a class="nav-link" routerLink="/pages" [routerLinkActive]="'is-active'">Pages <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/features/" [routerLinkActive]="'is-active'">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/apps" [routerLinkActive]="'is-active'">Apps</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="col-md-7 col-12 col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-light float-right">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto horizontal-li">
          <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="material-icons">search</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">calendar_today</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">analytics</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">search</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">view_module</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">message</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">location_on</i></a>
          </li>
          <li class="">
            <p>Hi User</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">account_circle</i></a>
          </li>

        </ul>
      </div>
    </nav>

  </div>
</div>
