$primary: #342668;
$primary_focus : #9535d7;
$primary_active: #5a2b8f;
$gray: #808080;
$primary_contrast : #fffdfd;
$white : #ffffff;
$warning: #FF8B3C;
$green: #6ab716;
$activeLink: #1d27a2;

$light_icons: #cccccc;
$light-grey: #b9b9b9;
$border-color: #c5c3c3;
$border-light: #e3dddd4d;

/*
   Text Color Codes
 */
$text_color_grey_mid : #8e8686;
$text_color_grey_light : #a9a9a9;
$text_color_grey_dark : #797372;
$text_color_dark : #6a6a6a; // Font size 16-40
$text_color_darker : #615757;
$text_color_mid : #747171;
$text_color_plain: #585858; // Font size 10 -14

/*
   Material Icons Color Codes
 */
$material_icon : #b4abab;
$material_icon_mid: #9a9292;

$input_field_border: #c8c8c8;
$input_border_field_list: #979797;

/*
  Background color codes
*/
$background_light : #f8f8f8;
$background_dark : #e0e0e0;
$background_mid : #f0f0f0;
$background_gray : #d4d0d0; // used for sign up button
$background_f3eeee: #f3eeee; // used in inside button shadow hover

$field_focus: rgba(0, 0, 0, 0.56)
